#### DOESN'T WORK ####
[Unit]
Description=Airflow webserver daemon
After=syslog.target network.target
[Service]
Environment="PATH=/home/oliver/airflow_project/airflow_env/bin:/home/oliver/airflow/:$PATH"
User=oliver
Group=oliver
Type=simple
ExecStart=/home/oliver/airflow_project/airflow_env/bin/python /home/oliver/airflow_project/airflow_env/bin/airflow webserver
Restart=on-failure
RestartSec=5s
PrivateTmp=true
[Install]
WantedBy=multi-user.target